  /* h1{
           color: aquamarine; 
        }
        p{
            color: brown;
        }
            
            */
            #first_heading{
                color: chartreuse;
            } 
            .random_text{
                color: chocolate;
            }